{% extends 'AWifiPubBundle::layout.html.twig' %}

 {% block contenido %}
<h2>Modificar Estado</h2>

{% if mensaje is defined %}
<b><span style="color: red;">{{ mensaje }}</span></b>
{% endif %}
<br/>

<form name="formInsertar" action="{{ path('wifipub_admin_estado_set',{'id': id})}}" method="POST">
    <table>
    	  <tr>
         	<td>Id </td>    
         	<td>
         	 	<input type="text" name="id" value="{{ id }}" />
     		</td> 
 		</tr>  
        <tr>
         	<td>Descripcion </td>    
         	<td>
         	 	<input type="text" name="Descripcion" value="{{ Descripcion }}" />
     		</td> 
 		</tr>   
    </table>
    <input type="submit" value="Modificar" name="Modificar" />
</form>

{% endblock %}